<h2 style="color:black, text-align: left"><%= @pet.name %></h2>
<img src="<%= @pet.photo.url %>" style="width: 500px">
<div>
  <strong>Species:</strong>
  <%= @pet.species %>
</div>
<div>
  <strong>Age:</strong>
  <%= @pet.age %>
</div>
<div>
  <strong>Gender:</strong>
  <%= @pet.gender %>
</div>
<div>
  <strong>Description:</strong>
  <%= @pet.description %>
</div>
<div>
  <strong>Special Notes:</strong>
  <%= @pet.special_notes %>
</div>
<div>
  <strong>Price:</strong>
  <p>$<%= @pet.price %></p>
</div>
<%= link_to "Book this creature",  new_pet_booking_path(@pet), class: "btn btn-primary" %>
