<div class="container mb-5">
<div style="margin-top: 100px">
<h2>Book some time with <%= @pet.name %>! </h2>
<%= simple_form_for([@pet, @booking]) do |f| %>
  <% if @booking.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@booking.errors.count, "error") %> prohibited this booking from being saved:</h2>
      <ul>
        <% @booking.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

   <%= f.input :start_date %>

   <%= f.input :end_date %>

   <%= f.button :submit, 'Book', class: 'btn btn-primary' %>

<% end %>
</div>
</div>
