<div class="container">
  <div class="row">
    <div class="col">
  </div>
  <div class="row">
    <div class="col">
      <div>
        <h2>Owner</h2>
        <img class="rounded-circle  shadow p-1 mb-2 bg-white rounded" src="<%= @user.photo.url %>" width="150">
        </div>
        <div>
          <h2><strong><%= @user.first_name %> <%= @user.last_name %></strong></h2>
        </div>
        <div>
          <p><%= @user.email %></p>
        </div>
        <div>
        <p><%= @user.bio %></p>
      </div>
        <div>
          <h3>My Home Address:</h3>
          <p><%= @user.address %></p>
        </div>

    </div>
    <div class="col">
      <div>
        <h2>My Creatures</h2>
        <img class="rounded-square shadow p-1 mb-2 bg-white rounded" src="https://source.unsplash.com/random/300x300/?pets" width="150">
        </div>
        <div>
        <% @user.pets.each do |pet| %>
          <h2> <%= pet.name %> </h2>
          <img class="rounded-circle  shadow p-1 mb-2 bg-white rounded" src="<%= pet.photo.url %>" width="150">
          <p> <%= pet.description %> </p>
          <p> <%= pet.species %> </p>
          <p> <%= pet.gender %> </p>
          <p> <%= pet.special_notes %> </p>
          <p> <%= pet.price %> </p>
        <% end %>
        </div>
    </div>
    <div class="col">
        <div>
          <h2>My Booking Request</h2>
        </div>
    </div>
  </div>
</div>
